<ion-menu id="menu-lateral" contentId="main-content">
  <ion-content scrollY="false">
    <div class="h-screen w-full bg-neutral-100 dark:bg-zinc-800">
      <div class="text-center py-8 px-8 gradiente flex justify-between">
        <div class="flex justify-center flex-col">
          <h1 class="font-black text-base uppercase text-white text-left">
            {{ usuario.nombre }}
            <span class="block">{{ usuario.apellido }}</span>
          </h1>
        </div>
        <ng-container>
          <img
            *ngIf="usuario.urlImagenPerfil !== ''"
            src="{{ usuario.urlImagenPerfil }}"
            class="w-20 h-20 text-white rounded-full"
            name="person-circle-outline"
            alt="This is fine"
          />
          <img
            *ngIf="usuario.urlImagenPerfil === ''"
            src="assets/icon/usericon.png"
            class="w-20 h-20 text-white"
            name="person-circle-outline"
            alt="This is fine"
          />
        </ng-container>
      </div>

      <div class="py-5">
        <!-- CREAR FUNCIÓN -->
        <ion-menu-toggle>
          <ion-item (click)="modalPerfil()" button lines="none" color="gris">
            <ion-icon
              color="danger"
              slot="start"
              name="person-sharp"
              class="pl-2"
            ></ion-icon>
            <ion-label> Perfil </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <!-- Opciones de los conductores -->
        <div class="cursor-pointer" *ngIf="usuario.esConductor == true">
          <ion-item class="text-gray-500" button lines="none" color="gris">
            <ion-icon
              color="medium"
              slot="start"
              name="reader"
              class="pl-2"
            ></ion-icon>
            <ion-label> Mis viajes </ion-label>
          </ion-item>
          <ion-item class="text-gray-500" button lines="none" color="gris">
            <ion-icon
              color="medium"
              slot="start"
              name="wallet"
              class="pl-2"
            ></ion-icon>
            <ion-label> Mi billetera </ion-label>
          </ion-item>
          <ion-menu-toggle>
            <ion-item button lines="none" (click)="irAVehiculo()" color="gris">
              <ion-icon
                color="danger"
                slot="start"
                name="car"
                class="pl-2"
              ></ion-icon>
              <ion-label> Vehiculo </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </div>

        <!-- Opciones de los viajeros -->
        <div class="cursor-pointer" *ngIf="usuario.esConductor == false">
          <ion-item class="text-gray-500" button lines="none" color="gris">
            <ion-icon
              color="medium"
              slot="start"
              name="reader"
              class="pl-2"
            ></ion-icon>
            <ion-label> Mis viajes </ion-label>
          </ion-item>
          <ion-item class="text-gray-500" button lines="none" color="gris">
            <ion-icon
              color="medium"
              slot="start"
              name="wallet"
              class="pl-2"
            ></ion-icon>
            <ion-label> Mi billetera </ion-label>
          </ion-item>
          <ion-menu-toggle>
            <ion-item
              button
              lines="none"
              [routerLink]="['/registrar-conductor']"
              color="gris"
            >
              <ion-icon
                color="danger"
                slot="start"
                name="car-sport-sharp"
                class="pl-2"
              ></ion-icon>
              <ion-label> Ser conductor </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </div>

        <!-- Opciones de todos los usuarios -->
        <div class="cursor-pointer mt-5">
          <ion-item class="text-gray-500" button lines="none" color="gris">
            <ion-icon
              color="medium"
              slot="start"
              name="help-circle"
              class="pl-2"
            ></ion-icon>
            <ion-label> Ayuda en línea </ion-label>
          </ion-item>
          <ion-item class="text-gray-500" button lines="none" color="gris">
            <ion-icon
              color="medium"
              slot="start"
              name="settings"
              class="pl-2"
            ></ion-icon>
            <ion-label> Configuración </ion-label>
          </ion-item>
          <ion-item button lines="none" (click)="cerrarSesion()" color="gris">
            <ion-icon
              color="danger"
              slot="start"
              name="chevron-back-circle"
              class="pl-2"
            ></ion-icon>
            <ion-label> Cerrar Sesión </ion-label>
          </ion-item>
        </div>
      </div>
    </div>
  </ion-content>
</ion-menu>
