<ion-menu id="menu-lateral" contentId="main-content">
  <ion-content scrollY="false">
    <div class="h-screen w-full bg-neutral-100 dark:bg-zinc-800">
      <div class="text-center py-8 px-8 gradiente flex justify-between">
        <div class="flex justify-center flex-col">
          <h1 class="font-black text-base uppercase text-white text-left">
            {{ usuario.nombre }}
            <span class="block">{{ usuario.apellido }}</span>
          </h1>
        </div>
        <ng-container>
          <img
            *ngIf="usuario.urlImagenPerfil !== ''"
            src="{{ usuario.urlImagenPerfil }}"
            class="w-20 h-20 text-white rounded-full"
            name="person-circle-outline"
            alt="This is fine"
          />
          <img
            *ngIf="usuario.urlImagenPerfil === ''"
            src="assets/icon/usericon.png"
            class="w-20 h-20 text-white"
            name="person-circle-outline"
            alt="This is fine"
          />
        </ng-container>
      </div>

      <div class="py-5">
        <ion-menu-toggle>
          <menu-item
            [texto]="'Perfil'"
            [icono]="'person-sharp'"
            [activado]="true"
            (click)="modalPerfil()"
          ></menu-item>
        </ion-menu-toggle>
        <menu-item [texto]="'Mis viajes'" [icono]="'reader'"></menu-item>
        <menu-item [texto]="'Mi billetera'" [icono]="'wallet'"></menu-item>

        <!-- Opciones de los conductores -->
        <div class="cursor-pointer" *ngIf="usuario.esConductor == true">
          <ion-menu-toggle>
            <menu-item
              [texto]="'Vehículo'"
              [icono]="'car'"
              [activado]="true"
              (click)="irAVehiculo()"
            ></menu-item>
          </ion-menu-toggle>
        </div>

        <!-- Opciones de los viajeros -->
        <div class="cursor-pointer" *ngIf="usuario.esConductor == false">
          <ion-menu-toggle>
            <menu-item
              [texto]="'Ser conductor'"
              [icono]="'car'"
              [activado]="true"
              [routerLink]="['/registrar-conductor']"
            ></menu-item>
          </ion-menu-toggle>
        </div>

        <!-- Opciones de todos los usuarios -->
        <div class="cursor-pointer mt-5">
          <menu-item
            [texto]="'Ayuda en linea'"
            [icono]="'help-circle'"
          ></menu-item>
          <menu-item [texto]="'Configuración'" [icono]="'settings'"></menu-item>
          <menu-item
            [texto]="'Cerrar Sesión'"
            [icono]="'chevron-back-circle'"
            [activado]="true"
            (click)="cerrarSesion()"
          ></menu-item>
        </div>
      </div>
    </div>
  </ion-content>
</ion-menu>
