<ion-content [fullscreen]="true">
  <ion-fab
    slot="fixed"
    vertical="top"
    horizontal="start"
    class="p-2"
    [routerLink]="['/inicio']"
    routerDirection="back"
  >
    <ion-icon name="arrow-back-outline" color="light" size="large"></ion-icon>
  </ion-fab>

  <div class="contenedor-principal">
    <div>
      <banner [titulo]="'te llevo'"></banner>

      <!-- Contenido -->
      <div class="contenido">
        <div class="mt-8 mb-8 min-[380px]:mb-14">
          <titulo
            [titulo]="'¿Olvidaste tu contraseña?'"
            [subtitulo]="'Te enviaremos un correo para que puedas recuperar tu cuenta'"
          ></titulo>
        </div>

        <div class="grid grid-cols-1 gap-8">
          <campo-texto
            [placeholder]="'Ingresa tu correo Duoc UC'"
            [tipo]="'email'"
            [(valor)]="correo"
          ></campo-texto>

          <div class="mt-2 lg:mt-4 flex justify-center">
            <boton-md [routerLink]="['/cambiar-contrasena']" [texto]="'Enviar'" (click)="enviar()"></boton-md>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
