<ion-content [fullscreen]="true">
  <div
    style="
      padding-top: 72px;
      padding-bottom: 72px;
      padding-left: 16px;
      padding-right: 16px;
      text-align: center;
    "
    class="gradiente"
  >
    <h1 style="font-weight: bold; color: white">CREA UNA NUEVA CUENTA</h1>
    <h3 style="font-weight: lighter; color: white">
      ¿Ya te has registrado?
      <span (click)="Inicio()" style="font-weight: bold">Ingresar</span>
    </h3>
  </div>
  <div style="margin: 0px; border-radius: 0px">
    <div style="padding: 48px">
      <h4 style="font-size: small; font-weight: bold">INGRESA TU NOMBRE</h4>
      <ion-item style="padding-bottom: 16px">
        <ion-input placeholder="usuario"></ion-input>
      </ion-item>

      <h4 style="font-size: small; font-weight: bold">
        INGRESA TU CORREO ELECTRÓNICO
      </h4>
      <ion-item style="padding-bottom: 16px">
        <ion-input placeholder="correo"></ion-input>
      </ion-item>

      <h4 style="font-size: smaller; font-weight: bold">
        INTRODUCE TU CONTRASEÑA:
      </h4>
      <ion-item style="padding-bottom: 16px">
        <ion-input placeholder="contraseña" type="password"></ion-input>
      </ion-item>

      <h4 style="font-size: smaller; font-weight: bold">
        VERIFICA TU CONTRASEÑA:
      </h4>
      <ion-item style="padding-bottom: 16px">
        <ion-input placeholder="contraseña" type="password"></ion-input>
      </ion-item>

      <ion-button
        expand="block"
        size="large"
        color="danger"
        style="font-weight: bold"
        >Registrate</ion-button
      >
    </div>
  </div>
</ion-content>
