<ion-content [fullscreen]="true">
  <ion-fab
    slot="fixed"
    vertical="top"
    horizontal="start"
    class="p-2"
    [routerLink]="['/inicio']"
    routerDirection="back"
  >
    <ion-icon name="arrow-back-outline" color="light" size="large"></ion-icon>
  </ion-fab>

  <div
    class="min-h-full flex flex-col justify-between bg-neutral-100 dark:bg-zinc-800"
  >
    <div>
      <banner [titulo]="'te llevo'"></banner>

      <!-- Contenido -->
      <div
        class="mt-52 py-8 min-[400px]:p-8 px-10 min-[400px]:px-12 max-w-2xl mx-auto"
      >
        <div class="mt-8 mb-6 lg:mb-16">
          <campo-texto
            [placeholder]="'Ingresa tu destino'"
            [tipo]="'text'"
          ></campo-texto>
        </div>

        <div class="mb-6 lg:mb-16">
          <hr class="border-gray-300 dark:border-gray-500" />
        </div>

        <div
          *ngFor="let id of [1, 2, 3, 4, 5, 6]"
          id="{{id}}"
          class="mb-6 lg:mb-16 cursor-pointer"
          [routerLink]="['/confirmar-solicitud/' + id]"
        >
          <div
            class="grid grid-cols-[50px_1fr] gap-x-8 gradiente p-5 rounded-2xl"
          >
            <div>
              <ion-thumbnail slot="start">
                <ion-skeleton-text
                  [animated]="true"
                  class="rounded-full"
                ></ion-skeleton-text>
              </ion-thumbnail>
            </div>
            <div class="w-full">
              <h3>
                <ion-skeleton-text
                  [animated]="true"
                  style="width: 80%"
                ></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text
                  [animated]="true"
                  style="width: 60%"
                ></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text
                  [animated]="true"
                  style="width: 30%"
                ></ion-skeleton-text>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
