<ion-content [fullscreen]="true">
  <ion-fab
    slot="fixed"
    vertical="top"
    horizontal="start"
    class="p-2"
    [routerLink]="['/inicio']"
    routerDirection="back"
  >
    <ion-icon name="arrow-back-outline" color="light" size="large"></ion-icon>
  </ion-fab>

  <div class="contenedor-principal">
    <div>
      <banner [titulo]="'te llevo'"></banner>

      <!-- Contenido -->
      <div class="contenido">
        <div class="mt-8 mb-6 lg:mb-16">
          <campo-texto
            [placeholder]="'Ingresa tu destino'"
            [tipo]="'text'"
          ></campo-texto>
        </div>

        <div class="mb-6 lg:mb-16">
          <hr class="border-gray-300 dark:border-gray-500" />
        </div>

        <div
          *ngFor="let vehiculo of vehiculos"
          id="{{vehiculo.patente}}"
          class="mb-6 lg:mb-16 cursor-pointer"
          [routerLink]="['/confirmar-solicitud/' + vehiculo.patente]"
        >
          <div
            class="grid grid-cols-[50px_1fr] gap-x-8 gradiente p-5 rounded-2xl"
          >
            <div>
              <ion-thumbnail slot="start">
                <ion-skeleton-text
                  [animated]="true"
                  class="rounded-full"
                ></ion-skeleton-text>
              </ion-thumbnail>
            </div>
            <div class="w-full px-2 rounded-lg ">
              <h3 class=" text-pink-100  text-opacity-90 text-lg font-bold">{{ vehiculo.marca }} {{ vehiculo.modelo }}</h3>
              <p class="text-pink-100 text-opacity-75">{{ vehiculo.tipoVehiculo }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
