<ion-content [fullscreen]="true">
  <ion-fab
    slot="fixed"
    vertical="top"
    horizontal="start"
    class="p-2"
    [routerLink]="['/inicio']"
    routerDirection="back"
  >
    <ion-icon name="arrow-back-outline" color="light" size="large"></ion-icon>
  </ion-fab>

  <div class="contenedor-principal">
    <div>
      <banner [titulo]="'te llevo'"></banner>

      <!-- Contenido -->
      <div class="contenido">
        <div class="mt-8 mb-8 min-[380px]:mb-14">
          <titulo
            [titulo]="'Registro'"
            [subtitulo]="'Ingresa los datos de tu vehículo'"
          ></titulo>
        </div>

        <div class="grid grid-cols-1 gap-8">
          <!-- PATENTE -->
          <campo-texto
            [placeholder]="'Ingresa la patente de tu vehículo'"
            [tipo]="'text'"
            [(valor)]="nuevoVehiculo.patente"
          ></campo-texto>

          <!-- TIPOVEHÍCULO -->
          <ion-select
            required
            id="tipoVehiculo"
            [(ngModel)]="nuevoVehiculo.tipoVehiculo"
            class="h-14 pt-0 border-0 pl-5 bg-white text-zinc-500 text-sm rounded-3xl placeholder-zinc-300 block w-full p-2.5 shadow-sm font-semibold focus:ring-rosado-tla dark:bg-zinc-700 dark:placeholder-zinc-400 dark:text-white"
            placeholder="Seleccione el tipo de vehículo"
          >
            <ion-select-option value="Sedan">Sedan</ion-select-option>
            <ion-select-option value="Pickup">Pickup</ion-select-option>
            <ion-select-option value="Hatchback">Hatchback</ion-select-option>
            <ion-select-option value="Wagon">Wagon</ion-select-option>
            <ion-select-option value="SUV">SUV</ion-select-option>
            <ion-select-option value="Compacto">Compacto</ion-select-option>
          </ion-select>

          <!-- MARCA -->
          <campo-texto
            [placeholder]="'Ingresa la marca'"
            [tipo]="'text'"
            [(valor)]="nuevoVehiculo.marca"
          ></campo-texto>

          <!-- MODELO -->
          <campo-texto
            [placeholder]="'Ingresa el modelo'"
            [tipo]="'text'"
            [(valor)]="nuevoVehiculo.modelo"
          ></campo-texto>

          <!-- COLOR -->
          <ion-select
            required
            id="color"
            [(ngModel)]="nuevoVehiculo.color"
            placeholder="Ingresa el color del vehículo"
            class="h-14 pt-0 border-0 pl-5 bg-white text-zinc-500 text-sm rounded-3xl placeholder-zinc-300 block w-full p-2.5 shadow-sm font-semibold focus:ring-rosado-tla dark:bg-zinc-700 dark:placeholder-zinc-400 dark:text-white"
          >
            <ion-select-option value="Blanco">Blanco</ion-select-option>
            <ion-select-option value="Negro">Negro</ion-select-option>->
            <ion-select-option value="Gris">Gris</ion-select-option>->
            <ion-select-option value="Plata">Plata</ion-select-option>->
            <ion-select-option value="Azul">Azul</ion-select-option>->
            <ion-select-option value="Rojo">Rojo</ion-select-option>->
            <ion-select-option value="Marron">Marron</ion-select-option>->
            <ion-select-option value="Verde">Verde</ion-select-option>->
            <ion-select-option value="Amarillo">Amarillo</ion-select-option>->
            <ion-select-option value="Dorado">Dorado</ion-select-option>->
            <ion-select-option value="Naranja">Naranja</ion-select-option>->
            <ion-select-option value="Morado">Morado</ion-select-option>->
            <ion-select-option value="Rosado">Rosado</ion-select-option>->
          </ion-select>

          <!-- CANTIDAD ASIENTOS -->
          <ion-select
            required
            id="cantidadAsientos"
            [(ngModel)]="nuevoVehiculo.cantidadAsientos"
            placeholder="Ingresa la cantidad de asientos"
            class="h-14 pt-0 border-0 pl-5 bg-white text-zinc-500 text-sm rounded-3xl placeholder-zinc-300 block w-full p-2.5 shadow-sm font-semibold focus:ring-rosado-tla dark:bg-zinc-700 dark:placeholder-zinc-400 dark:text-white"
          >
            <ion-select-option value="2">2</ion-select-option>->
            <ion-select-option value="3">3</ion-select-option>->
            <ion-select-option value="4">4</ion-select-option>->
            <ion-select-option value="5">5</ion-select-option>->
            <ion-select-option value="6">6</ion-select-option>->
            <ion-select-option value="7">7</ion-select-option>->
            <ion-select-option value="8">8</ion-select-option>->
          </ion-select>

          <!-- BOTÓN REGISTRAR -->
          <div class="mt-2 lg:mt-4 flex justify-center">
            <boton-md
              [texto]="'Registrar'"
              (click)="registrarVehiculo()"
            ></boton-md>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
