<ion-content [fullscreen]="true" [scrollY]="false">
  <ion-fab slot="fixed" vertical="top" horizontal="start" class="p-2">
    <ion-icon
      name="arrow-back-outline"
      color="light"
      size="large"
      [routerLink]="['/inicio']"
      routerDirection="back"
    ></ion-icon>
  </ion-fab>

  <div
    class="min-h-full flex flex-col justify-between bg-neutral-100 dark:bg-zinc-800"
  >
    <div>
      <banner [titulo]="'te llevo'"></banner>

      <!-- Contenido -->
      <div
        class="mt-36 min-[380px]:mt-52 py-8 px-10 min-[380px]:px-12 max-w-2xl mx-auto"
      >
        <div class="mt-8 mb-8 min-[380px]:mb-14">
          <titulo
            [titulo]="'Únete'"
            [subtitulo]="'Registrate como conductor'"
          ></titulo>
        </div>

        <div class="grid grid-cols-1 gap-8">
          <!-- RUT -->
          <campo-texto
            [placeholder]="'Ingresa tu rut'"
            [tipo]="'text'"
            [(valor)]="conductor.rut!"
          ></campo-texto>

          <!-- licencia -->
          <campo-texto
            [placeholder]="'Ingresa tu número de licencia'"
            [tipo]="'text'"
            [(valor)]="conductor.licencia!"
          ></campo-texto>

          <!-- BOTÓN REGISTRAR -->
          <div class="mt-2 lg:mt-4 flex justify-center">
            <boton-md
              [texto]="'Registrar'"
              (click)="registrarConductor()"
            ></boton-md>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
