<ion-content [fullscreen]="true" [scrollY]="false">
  <ion-fab
    slot="fixed"
    vertical="top"
    horizontal="start"
    class="p-2"
    [routerLink]="['/inicio']"
    routerDirection="back"
  >
    <ion-icon name="arrow-back-outline" color="light" size="large"></ion-icon>
  </ion-fab>

  <div class="contenedor-principal">
    <div>
      <banner [titulo]="'te llevo'"></banner>

      <!-- Contenido -->
      <div class="contenido">
        <div class="mt-8 mb-8 min-[380px]:mb-14">
          <titulo
            [titulo]="'Únete'"
            [subtitulo]="'Regístrate como conductor'"
          ></titulo>
        </div>

        <div class="grid grid-cols-1 gap-8">
          <!-- RUT -->
          <campo-texto
            [placeholder]="'Ingresa tu rut'"
            [tipo]="'text'"
            [(valor)]="conductor.rut!"
          ></campo-texto>

          <!-- licencia -->
          <campo-texto
            [placeholder]="'Ingresa tu número de licencia'"
            [tipo]="'text'"
            [(valor)]="conductor.licencia!"
          ></campo-texto>

          <!-- BOTÓN REGISTRAR -->
          <div class="mt-2 lg:mt-4 flex justify-center">
            <boton-md
              [texto]="'Registrar'"
              (click)="registrarConductor()"
            ></boton-md>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
