<menu-lateral [usuario]="usuario"></menu-lateral>

<div class="ion-page" id="main-content">
  <ion-content [fullscreen]="true" [scrollY]="false">
    <ion-fab slot="fixed" vertical="top" horizontal="start" class="p-2">
      <ion-menu-toggle>
        <ion-icon name="menu" color="light" size="large"></ion-icon>
      </ion-menu-toggle>
    </ion-fab>

    <div
      class="contenedor-principal"
    >
      <div>
        <banner [titulo]="'Bienvenid@ ' + usuario.nombre" [animarTexto]="animarTexto"></banner>

        <!-- Contenido -->
        <div
          class="contenido"
        >
          <div class="mt-8 w-full grid grid-cols-1 gap-8">
            <boton-lg
              [texto]="'solicitar viaje'"
              [ruta]="'/solicitar-viaje'"
            ></boton-lg>

            <boton-lg
              *ngIf="usuario.esConductor"
              [texto]="'Disponer auto'"
              (click)="disponerVehiculo()"
            ></boton-lg>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</div>
