<ion-content [fullscreen]="true" [scrollY]="false">
  <div
    class="min-h-full flex flex-col justify-between bg-neutral-100 dark:bg-zinc-800"
  >
    <div>
      <banner [titulo]="'te llevo'"></banner>

      <!-- Contenido -->
      <div
        class="mt-36 min-[380px]:mt-52 py-8 px-10 min-[380px]:px-12 max-w-2xl mx-auto"
      >
        <div class="mt-8 mb-8 min-[380px]:mb-14">
          <titulo
            [titulo]="'Bienvenido'"
            [subtitulo]="'Inicia sesión con tu cuenta'"
          ></titulo>
        </div>

        <div class="mt-8 w-full grid grid-cols-1 gap-8">
          <campo-texto
            [placeholder]="'Ingresa tu correo'"
            [tipo]="'email'"
            [(valor)]="correo"
          ></campo-texto>

          <campo-texto
            [placeholder]="'Ingresa tu contraseña'"
            [tipo]="'password'"
            [(valor)]="contrasena"
          ></campo-texto>
        </div>

        <div>
          <p
            [routerLink]="['/cambiar-contrasena']"
            class="mt-4 text-end text-[13px] tracking-wider font-semibold text-zinc-400 hover:text-zinc-500 hover:dark:text-zinc-300 cursor-pointer"
          >
            ¿Olvidaste tu contraseña?
          </p>
        </div>

        <div class="mt-10 lg:mb-16">
          <boton-lg [texto]="'Ingresar'" (click)="iniciarSesion()"></boton-lg>
        </div>
      </div>
    </div>

    <div class="pb-6 px-8 min-[400px]:px-12">
      <p
        class="text-center font-semibold text-[13px] tracking-wider text-zinc-400"
      >
        ¿Aun no tienes cuenta?
        <span
          [routerLink]="['/registro-usuario']"
          class="font-bold text-zinc-500 hover:text-zinc-600 dark:text-zinc-300 hover:dark:text-zinc-200 cursor-pointer"
          >Registrate</span
        >
      </p>
    </div>
  </div>
</ion-content>
