<ion-content [fullscreen]="true">
  <ion-fab
    slot="fixed"
    vertical="top"
    horizontal="start"
    class="p-2"
    [routerLink]="['/inicio']"
    routerDirection="back"
  >
    <ion-icon name="arrow-back-outline" color="light" size="large"></ion-icon>
  </ion-fab>

  <div
    class="min-h-full flex flex-col justify-between bg-neutral-100 dark:bg-zinc-800"
  >
    <div>
      <banner [titulo]="'te llevo'"></banner>

      <!-- Contenido -->
      <div
        class="mt-36 min-[380px]:mt-52 py-8 px-10 min-[380px]:px-12 max-w-2xl mx-auto"
      >
        <div class="mt-8 mb-8 min-[380px]:mb-14">
          <titulo
            [titulo]="'Registro'"
            [subtitulo]="'Únete a la comunidad de te llevo app'"
          ></titulo>
        </div>

        <div class="w-full grid grid-cols-1 gap-8">
          <!-- NOMBRE -->
          <campo-texto
            [placeholder]="'Ingresa tu nombre'"
            [tipo]="'text'"
            [(valor)]="nuevoUsuario.nombre"
          ></campo-texto>

          <!-- APELLIDO -->
          <campo-texto
            [placeholder]="'Ingresa tu apellido'"
            [tipo]="'text'"
            [(valor)]="nuevoUsuario.apellido"
          ></campo-texto>

          <!-- CORREO -->
          <campo-texto
            [placeholder]="'Ingresa tu correo Duoc UC'"
            [tipo]="'email'"
            [(valor)]="nuevoUsuario.correo"
          ></campo-texto>

          <!-- CONTRASEÑA -->
          <campo-texto
            [placeholder]="'Ingresa tu contrasena'"
            [tipo]="'password'"
            [(valor)]="contrasena"
          ></campo-texto>

          <!-- CONTRASEÑA 2-->
          <campo-texto
            [placeholder]="'Verifica tu contrasena'"
            [tipo]="'password'"
            [(valor)]="verificadorContrasena"
          ></campo-texto>

          <!-- BOTÓN REGISTRAR -->
          <div class="mt-2 lg:mt-4 flex justify-center">
            <boton-md [texto]="'Registrar'" (click)="registrar()"></boton-md>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
