/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

/* TailwindCSS */
/* Es posible que vscode lo marque como un 'error' pero funciona correctamente*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');




/* Clases Globales */
.contenedor-principal {
    @apply min-h-full flex flex-col justify-between bg-neutral-100 dark:bg-zinc-800;
}

.contenido {
    @apply mt-36 min-[380px]:mt-52 py-8 px-10 min-[380px]:px-12 max-w-2xl mx-auto;
}

.gradiente {
    background: rgb(255, 157, 174);
    background: linear-gradient(65deg, rgb(246, 173, 96) 10%, rgba(234, 1, 175, 1) 100%);
}

ion-select {
    @apply h-14 border-0 pl-5 shadow-sm font-semibold bg-white text-zinc-500 placeholder-zinc-300 text-sm rounded-3xl focus:ring-rosado-tla block w-full p-2.5 dark:bg-zinc-700 dark:placeholder-zinc-400 dark:text-white pt-0
}

ion-select::part(placeholder) {
    font-weight: 600;
    color: rgb(212, 212, 216);
    opacity: 1;
}

@media (prefers-color-scheme: dark) {
    ion-select::part(placeholder) {
        color: rgb(161, 161, 170);
    }
}

.curvas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.curvas svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 130px;
}

.curvas .shape-fill {
    fill: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
    .curvas .shape-fill {
        fill: #27272a;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .curvas svg {
        width: calc(170% + 1.3px);
        height: 67px;
    }
}