<ion-content [fullscreen]="true">
  <ion-fab
    slot="fixed"
    vertical="top"
    horizontal="start"
    class="p-2"
    [routerLink]="['/solicitar-viaje']"
    routerDirection="back"
  >
    <ion-icon name="arrow-back-outline" color="light" size="large"></ion-icon>
  </ion-fab>

  <div class="contenedor-principal">
    <div>
      <banner [titulo]="'te llevo'"></banner>

      <!-- Contenido -->
      <div class="contenido">
        <div class="mt-8 mb-8 lg:mb-16">
          <div
            class="w-full border-0 rounded-2xl shadow gradiente overflow-hidden"
          >
            <div class="w-full h-fit gradiente py-4 overflow-hidden">
              <ng-container *ngIf="vehiculo && vehiculo.color">
                <auto-svg [color]="vehiculo.color"></auto-svg>
              </ng-container>
            </div>
            <div class="px-5 py-2">
              <h5
                class="mb-3 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                {{vehiculo.patente}} - {{vehiculo.tipoVehiculo}}
              </h5>
              <p class="mb-3 font-normal text-gray-900 dark:text-white">
                {{vehiculo.marca}} {{vehiculo.modelo}}
              </p>
              <p class="mb-3 font-normal text-gray-900 dark:text-white">
                {{vehiculo.conductor}}
              </p>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-8">
          <boton-lg [texto]="'Confirmar'" (click)="confirmar()"></boton-lg>
          <boton-lg
            [texto]="'Cancelar'"
            [routerLink]="['/solicitar-viaje']"
            routerDirection="back"
          ></boton-lg>
        </div>
      </div>
    </div>
  </div>
</ion-content>
